body {
	display: flex;
	margin: 0;
}


@media (min-width: 650px) {
	body {
	background-image: url(../img/Landscape.jpg);
	max-width: 100%;
	}
}

@media (max-width: 650px) {
	body {
		background-image: url(../img/dawn.png);
		max-width: 100%;
	}
}

@media (max-width: 465px) {
	body {
		background-image: url(../img/maxresdefault.jpg);
		max-width: 100%;
	}
}


