body {
	display: flex;
	margin: 0;
}

img {
	align-content: center;
}

@media (min-width: 1000px) {
	body {
	background-image: url(../img/Landscape.jpg);
	}
}

@media (min-width: 650px) {
	body {
		background-image: url(../img/dawn.png);
		max-width: 100%;
	}
}

@media (min-width: 465px) {
	body {
		background-image: url(../img/maxresdefault.jpg);
		max-width: 100%;
	}
}

